@model FPRMAspNetCoreMVC.Models.Rental

@{
    ViewData["Title"] = "New Rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApartmentId" class="control-label"></label>
                <select asp-for="ApartmentId" class ="form-control" asp-items="ViewBag.ApartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <select asp-for="TenantId" class ="form-control" asp-items="ViewBag.TenantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InitialRentDate" class="control-label"></label>
                <input asp-for="InitialRentDate" class="form-control" />
                <span asp-validation-for="InitialRentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalRentDate" class="control-label"></label>
                <input asp-for="FinalRentDate" class="form-control" />
                <span asp-validation-for="FinalRentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyRent" class="control-label"></label>
                <input asp-for="MonthlyRent" class="form-control" />
                <span asp-validation-for="MonthlyRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group float-end">
                <br/>
                <input type="submit" value="Create" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
